.container {
  
width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: .1rem;
    position: relative;
    flex: 0}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.dayBlock {
  border: 1px solid cornsilk;
  padding: 1rem;
  border-radius: 6px;
  background-color:cornsilk;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid cornsilk;
  border-radius: 8px;
  background-color: cornsilk;
}
