html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--yello);
  background-size: cover;
  background-image: url('https://img.freepik.com/premium-photo/abstract-food-background-with-ingredients-such-as-fruits-vegetables-spices_124463-5047.jpg?w=2000');
  color: black;
}

:root {
  --red: #D00000;
  --yello: #FFBA08;
  --babyBlue: #3F88C5;
  --blue: #032B43;
  --pineGreen: #1ccb1ccf;
}

*::after,
*,
*::before {
  box-sizing: inherit;
}